@import "colors.scss";

.fw-btn{
    opacity: 70%;
    background-color: $bgcolorsecondary;
    transform: rotate(45deg);
            i,h3,h4,span{
                color: $colortextsecondary;
                transform: rotate(-45deg);
                padding: 0px
            }
}
.fw-btn:hover, :active{
    background-color: $bgcolorbuttonprimary;
            i,h3,h4,span{
                color: $bgcolorsecondary; 
            }
}
.fw-btn-arrow{
    width: 50px;
    height: 50px;
    border: 1px solid $colortextprimary;
    font-size: 30px;
}
.fw-btn-slider{
    width: 185px;
    height: 195px;
    margin: auto;
    font-weight: bold;
    font-family: 'Meriweather';
    border: none;
    background-color: inherit;
    color: $colortextsecondary;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.fw-btn-14{
    font-size: 14px;
    font-family: 'Merriweather sans';
    width: 100px;
    height: 100px;
    border: 1px solid $colortextsecondary;
    text-align: center;
    letter-spacing: normal;
            h4{
                padding: 20px 20px 5px 10px;
            }
            div{
                width: 100%;
                text-align: right;
                padding-right: 5px;
                box-sizing: border-box;
            }
}
.fw-btn-break-line{
    background-color: inherit;
    color: $colortextsecondary;
    padding: 5px 10px;
    font-style: bold 14px;
    border: none;
    font-family: 'Meriweather';
}
