/* Colors for backgraund*/
$bgcolorprimary: rgb(29, 29, 29);
$bgcolorsecondary:  rgb(42, 42, 42);

/* Colors for text*/
$colortextprimary: rgb(255, 255, 255);
$colortextsecondary: rgb(224, 202, 143);
$colortextgrey: rgb(156, 156, 156);
