@import "mixins.scss";
@import "colors.scss";
@import "style.scss";
.fw-f-logo { 
    position: relative;
    right: 67px;
}
footer {
    background-color: $bgcolorprimary;
    padding: 5% 0%;
}
.fw-f-elements {
    @include block60;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.fw-f-email {
    color: $colortextsecondary;
}
.fw-f-address {
    color: $colortextgrey;
    font-family: 'Merriweather Sans';
    padding-bottom: 0;
  }
.fw-f-contact-us {
    @include flex-cols;
    flex-grow: 4;
    padding-right: 10%;
  }
input { 
    @include in-t;
}
button {
    @include bu-t;
}
button:hover {
    background: $bgcolorsecondary;
}
.fw-f-message { 
    padding-bottom: 25%;
}
  .fw-f-logo { 
    position: relative;
    right: 67px;
}
  .fw-f-email-input {
    width: 100%;
    margin-top: 10px;
}
  .fw-f-submit-button { 
    box-sizing: border-box;
    width: 30%;
    position: relative;
    left: 70%;
}
  .fw-f-subsribe-button {
    position: relative;
    left: 56%;
}
.fw-f-line {
    @include block60;
    background-color: $bgcolorsecondary;
    height: 2px;
    margin-top: 3%;
}
.fw-f-footer-bottom {
    @include flex-cols;
}
.fw-f-copyrights {
    padding-top: 3%;
    box-sizing: border-box;
    @include block60;
}
i {
    padding: 5px 10px;
    color: $colortextsecondary;
    position: relative;
    bottom: 40px;
}
