@import "colors.scss";

.fw-h-logo{
    background-color: $bgcolorprimary;
}
.fw-h-contacts{
    background-color: $bgcolorsecondary;
    width: 100%;
    font-size: 10px;
}
.fw-h-contactsblock{
    color: $colortextgrey;
    padding: 2px 0px;
    max-height: 18px;
}
.fw-h-logoblock{
    margin: auto;
    width: 30%;
        img{
            width: 100%; 
        }
}
.fw-h-geo {
    flex-grow: 15;
}
.fw-h-phone {
    flex-grow: 2;
}
i {
    padding-right: 5px;
}
.fw-h-naw{
    font-family: 'Merriweather sans';
    padding: 25px 0;
}
.fw-h-navitem{
    padding: 5px;
    border-left: 1px solid $colortextsecondary;
    text-align: center;
    flex: 0 0 12%;
        &:hover {  text-decoration: none;
        background-color: $colortextsecondary;
        } 
        div:first-child{
            border-left: none;
        }
}
.fw-h-navitem a{
    font-size: 14px;
    color: $colortextsecondary;
    &:hover{
        color: black; 
    }
}