/* Mixin for block 60%*/
@mixin block60 {
    width: 60%;
    margin: auto;
    max-width: 1200px;
}
/* Mixin for flexbox bloch row*/
@mixin flexblock {
    display: flex;
    justify-content: space-between;
}
/* Colors for backgraund*/
$bgcolorprimary: rgb(29, 29, 29);
$bgcolorsecondary:  rgb(42, 42, 42);
/* Colors for text*/
$colortextprimary: rgb(255, 255, 255);
$colortextsecondary: rgb(224, 202, 143);
$colortextgrey: rgb(156, 156, 156);


a{
    text-decoration: none;
}
.fw-hlogo{
    background-color: $bgcolorprimary;
    position: relative;
}
.fw-hcontacts{
    background-color: $bgcolorsecondary;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 999999999;
    font-size: 10px;
}
.fw-hcontactsblock{
    @include block60;
    @include flexblock;
    color: $colortextgrey;
    padding: 2px;
    max-height: 18px;
}
.fw-hlogoblock{
    margin: auto;
    width: 30%;
}
img{
    width: 100%;
}
.fw-hnaw{
    @include block60;
    @include flexblock;
}
.fw-hnavitem{
    padding: 5px;
    border-left: 1px solid $colortextsecondary;
    text-align: center;
    flex: 0 0 12%;
        &:hover {  text-decoration: none;
        background-color: $colortextsecondary;
        } 
}
.fw-hnavitem a{
    font-size: 14px;
    color: $colortextsecondary;
    &:hover{
        color: black; 
    }
}
.fw-hnaw div:first-child{
    border-left: none;
}