@import "mixins.scss";
@import "colors.scss";
@import "style.scss";

.fw-l-info {
    position: relative;
}
img {
    width: 100%;
}
.fw-l-centering {
    @include centering-absolute-child;
    padding-right: 10px;
}
.fw-l-decoration {
    @include flex-container-full_center;
}
    .fw-l-romb-l, .fw-l-romb-r {
    width: 0; 
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: $colortextgrey;
    position: relative; 
    top: -4px;
}
    .fw-l-romb-r:after {
    @include rhombus-after;
}
    .fw-l-romb-l:after {
    @include rhombus-after;
}
    .fw-l-line-l, .fw-l-line-r {
      background-color: $colortextgrey;
      height: 1px;
      width: 340px;
}
.fw-l-name {
    padding: 0 10px 0 10px;
    font-size: 30px;
    font-family: 'Merriweather';
    font-weight: 600;
    color: $colortextprimary;
}
.fw-l-nav {
    @include flex-container-full_center;
    padding-top: 10px;
}
.fw-l-menu-center {
    border-left: $colortextprimary 1px solid;
    border-right: $colortextprimary 1px solid;
}
a {
    color: $colortextprimary; 
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Merriweather sans';
 }
a:hover {
    background-color: $colortextsecondary;
} 
a:visited {
    color: $colortextprimary; 
}
a:active {
    color: $colortextprimary;  
}
