@import "colors.scss";
@import "mixins.scss";


.fw-menublock{
    background-color: $bgcolorsecondary;
}
.fw-menu-textblock{
    @include block60;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
            h1{
                color: $colortextprimary;
            }
            p{
                padding: 30px 0;
                color: $colortextgrey;
            }
            i{
                padding: 30px 0;
                transform: rotate(-45deg);
                font-size: 5px;
                color: $colortextgrey;
            }
}
.fw-menu{
    @include block60;
    @include flexblock;
}
.fw-menu-item{
    align-self: flex-start;
    position: relative;
    width: 32%;
    background-color: black;
    min-height: 800px;
    padding-bottom: 80px;
}
.fw-menu-name{
    width: 100%;;
    position: absolute;
    top: 20px;
    color: $colortextprimary;
    text-transform: uppercase;
    text-align: center;
}
.fw-menu-list{
    padding: 0 15px;
    color: $colortextgrey;
            h4{
                color: $colortextprimary;
            }
}
li{ 
    font-size: 14px;
    padding: 10px 0px;
    line-height: 1.5;
}
.fw-break-line{
    @include break-line;
}