/* Mixin for block 60%*/
@mixin block60 {
    width: 60%;
    margin: auto;
    max-width: 1200px;
}
/* Mixin for flexbox bloch row*/
@mixin flexblock {
    display: flex;
    justify-content: space-between;
}
