@import "colors.scss";

.fw-sliderblock{
    position: relative;
    min-height: 737px;
    background-image: url('../../images/home-slider-bg.png');
    border: none;
            h4{
                text-transform: uppercase;
                text-align: center;
                color: $colortextprimary;
                letter-spacing: 0.1em;
            }
}
.fw-slider{
    padding-top: 230px;
    color: $colortextprimary;
}
.fw-line{
    height: 1px;
    background-color: $colortextprimary;
    flex-grow: 2;
    margin: 0px 10px;
}
.fw-s-btn-block{
    max-width: 328px;
    box-sizing: border-box;
    background-image: url('../../images/Layer6.png');
    background-repeat: no-repeat;
    margin: auto;
    padding: 70px 70px 90px 70px;
}
.fw-btn14-block{
    position: absolute;
    bottom: -50px;
    left: 50%;   
    margin-left: -50px;
}