@import "header.scss";


body{
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 14px;
}
p{
    font-size: 18px;
}
i{
    padding-left: 10px;
    padding-right: 5px;
}
a{
    text-decoration: none;
}