
body{
    font-family: 'Merriweather Sans';
    color: $colortextgrey;
}
a{
    text-decoration: none;
}
h1{
    font-size: 30px;
    color: white;
    font-family: 'Merriweather';
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
    color: white;
    font-family: 'Merriweather';
}
h4{
    font-size: 14px;
    line-height: 22px;
}
p{
    font-size: 18px;
}
i{
    padding-left: 10px;
    padding-right: 5px;
}
a{
    text-decoration: none;
}